[Desktop Entry]
Name=Webber
Exec=webber --disable-gpu --disable-viz-display-compositor %U
Icon=assets/icon.svg
Terminal=false
Type=Application
X-Lomiri-Touch=true
